<!DOCTYPE html>
<html>
<head>
  <title>Documentation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id = "content">
        <h1>Welcome to my Site</h1>
    </div>
    <%= render 'layouts/menu' %>
  </div>
  <div id="container">
  <%= yield %>
  </div>
</div>
</body>
</html>
